/* body {
  margin: 0;
  padding: 0;
  background: #171717;
}
* {
  box-sizing: border-box;
} */
.add-recipe-body{
  background-color: rgba(0, 0, 0, 0.84);
}

#add-recipepage-form {
  display: block;
  background-color: #444444;

  box-shadow: 1px 1px 3px 2px #ddd;
  margin: 40px auto;
  max-width: 600px;
  max-height: 900px;
  padding: 20px;
}
form input,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
  padding: 8px;
  background-color: #f1f1f1;
  border: 0.5px solid #545252;
}
form span {
  color: #da0037;
}
.backgrond{
  background-image: cover;
}
