.body{
    background-color: black;
}
#hr1d{
    align-content: center;
    align-items: center;
    color: #DA0037;
    /*background-color: #DA0037;*/
}
#hr1{
    /*color: #DA0037;*/
    background-color: #DA0037;
    margin: 10px 65px 10px 65px;
    align-items: center;
    align-content: center;
    height: 2px;
}
#heading-area{
    color: #EDEDED;
    background-color: #444444;
    align-items: center;
    text-align: center;
    margin: 5px 10px 5px 10px;
    border-radius: 10px;
    padding: 10px;
}
#heading-area h1{
    align-items: center;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
#heading-area h1 span{
    font-size: 50px;
    font-weight: lighter;
    /*background-color: #DA0037;*/
    /*padding: 5px;*/
    /*border-radius: 10px;*/
    border: solid 2px;
    border-color: #DA0037;
    padding: 10px;
}
.animate-charcter
{
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #171717 0%,
            #444444 29%,
            #DA0037 67%,
            #EDEDED 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 11s linear infinite;
    display: inline-block;
    font-size: 190px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
#heading-area p{
    margin-top: 15px;
}
#srh{
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 120px 10px 120px;
}
#top-recipes{
    color: #EDEDED;
    /*background-color: #444444;*/
    align-items: center;
    text-align: center;
    margin: 5px 10px 5px 10px;
    border-radius: 10px;
    padding: 10px;
}
#top-recipes h2{
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(left, #e50202, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#r-card{
    margin: 10px 10px 10px 10px;
}
#r-card-area {
    display: flex;
    justify-content: space-between;
}

/* Media query for screens 600px and below */
@media screen and (max-width: 600px) {
    #r-card-area {
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-left: 150px;
    }

    #r-card {
        width: 50%;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
    #r-card {
        width: 30%;
        margin-bottom: 10px;
    }
}