.coonn{

    /*background:url("../assets/hero/hero-1.jpg") no-repeat center center;*/
    background-size: cover;
    background-attachment: fixed;

}
.bonn {
    background-color: #f77a27;
    background-size: cover;
    background-attachment: fixed;

}
.bonn {
    background-color: #f77a27;



}
.myimg{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.error{
    margin-top: 20px;
}